<!DOCTYPE html>

<html lang="it">
    <head>
        {%load static%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/miostile.css' %}" />
        <title></title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!-- Entro nel blocco "Preferiti" -->
       <div>
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color:black">
                <div class="container-fluid">
                    <img src="{%static "app/img/Segno oscuro.png"%}" width="60" height="60">
                    <a class="navbar-brand"  style="font-family:Adobe Garamond Bold;color:red;font-size:25pt"><b>Dark Games </b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "home" %}">HomePage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{% url 'crea_post' %}">Crea Post</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active disabled" href="{% url 'VisualizzaPost' %}">Visualizza Post (Attuale)</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Cerca nel sito" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Cerca</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <header style="background-color:#dee2e6">
            <br><br><br><br>
            <div>
                <table class="table table-bordered" align="center" style="width: 95%">
                    <thead class="bordo">
                        <tr>
                            <th scope="col" style="color:red">Nickname</th>
                            <th scope="col" style="color:red">Titolo</th>
                            <th scope="col" style="color:red">Foto e commento</th>
                            <th scope="col" style="color:red">Descrizione</th>
                        </tr>
                    </thead>
                    <tbody class="bordo">
                        {% for post in posts %}
                            <tr style="text-align: center">
                                <th scope="row" style="color:black; padding-top:5%">{{ post.utente }}</th>
                                <th scope="row" style="color:black; padding-top:5%">{{ post.titolo }}</th>
                                <td style="color:black"> <img src="{{ post.photo.url }}"  height="150" title="{{ post.commenti }}"> </td>
                                <td style="color:black;padding-top:5%">{{ post.contenuto }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </header>
        <footer class="social-menu" style="background-color:black">
            <!-- Newsletter form -->
            <div class="container p-4 pb-0">
                <form action="">
                    <div class="row">
                        <div class="col-auto mb-4 mb-md-0">
                            <p class="pt-2" style="color:#e9ecef;font-size:15px;"><strong>Iscriviti alla newsletter di Dark Games per ricevere aggiornamenti sui tuoi giochi preferiti!</strong></p>
                        </div>
                        <div class="col-md-5 col-12 mb-4 mb-md-0">
                            <div class="form-outline mb-4">
                                <input type="email" id="form5Example2" class="form-control" />
                                    <label class="form-label" for="form5Example2"></label>
                            </div>
                        </div>
                        <div class="col-auto mb-4 mb-md-0">
                            <button type="submit" class="btn btn-primary mb-4">Iscriviti</button>
                        </div>
                    </div>
                </form>
            </div>
            <div style="text-align:right;color:#e9ecef"> Se hai bisogno di aiuto contattaci qui: <a style="color:dodgerblue" href="mailto:sechisalvatore473@gmail.com">sechisalvatore473@gmail.com</a></div>
        <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2021 Copyright: <a class="text-dark" href="https://getbootstrap.com/" target="_blank">Bootstrap.com</a></div>
        </footer>
    </body>
</html>